@import "tailwindcss";

/* Carousel Card Component */
.carousel-card {
    @apply relative h-[450px] md:h-[475px] lg:h-[600px] bg-gray-600;

    /* Overlay layer */

    .background-hero-image-overlay {
        @apply absolute w-full h-full top-0 left-0;
        /* add bg-opacity, bg-color, etc. as needed */
    }

    /* Background hero image */

    .background-hero-image {
        @apply absolute w-full h-full top-0 left-0 z-0 bg-cover bg-center;
    }

    /* Main content container */
    .main-container {
        @apply h-full mx-auto container flex relative z-10 p-4 gap-2;
        @apply md:pt-22 md:gap-4 md:pl-16 md:pr-16;
        @apply lg:pt-26 lg:gap-8 lg:pl-20 lg:pr-20;
    }

    /* Poster section */

    .right {
        @apply flex-grow-0 hidden mt-0;
        @apply md:block;
    }

    .image-section {
        @apply shadow-xl;
    }

    /* Text content section */

    .left {
        @apply w-full  mt-[85px]  flex-grow text-white;
        @apply md:w-auto md:mt-0 md:max-w-[70%];
    }

    /* Primary text wrapper */

    .primary {
        @apply flex flex-col gap-2 justify-start items-start z-10;
    }

    /* Title styling */

    .title {
        @apply font-bold text-3xl md:text-3xl lg:text-6xl lg:mb-6;
    }

    /* Genre button group */

    .genre-section {
        @apply flex flex-wrap gap-2 mb-2 md:mb-3 lg:mb-4;

        .button-list {
            @apply flex flex-wrap gap-2 md:gap-3;
        }

        .button {
            @apply text-sm;
        }
    }


    /** action links **/

    .action-links {
        @apply flex gap-2;

        .action-button {
            @apply flex items-center justify-center gap-3 font-semibold py-1 px-3 md:py-3 md:px-5 rounded-3xl transition-all;
        }

        .watch-button {
            @apply border-0 text-white;
            background-color: var(--color-highlight-secondary);
        }

        .watch-button:hover {
            background-color: var(--color-highlight-ternary);
        }

        .add-to-list-button {
            @apply border border-white;
        }

        .add-to-list-button:hover {
            @apply text-gray-800;
            background-color: white;
        }

    }


}

/* Movie summary text variants */
.movie-summary {
    @apply text-xl font-light;
}

.movie-summary-short {
    @apply md:hidden text-base;
}

.movie-summary-long {
    @apply hidden md:block md:mb-4 lg:mb-6 md:text-lg lg:text-xl leading-relaxed;
}
