
@import "tailwindcss";

.embla.dynamic-width-carousel {

    overflow: visible !important;


    .embla__container {

    }

    .gradient-left, .gradient-right{
        @apply absolute h-full w-[40px] pointer-events-none;
    }
    .gradient-left{
        @apply left-0 bottom-0 bg-gradient-to-r from-[rgba(0,0,0,0.3)]  to-transparent;
    }
    .gradient-right{
        @apply right-0 bottom-0  bg-gradient-to-l from-[rgba(0,0,0,0.3)]  to-transparent;
    }

    .embla__slide {

        width: 300px !important;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-grow: 1;
        flex-basis: auto;
        z-index: 1;


        .embla__inner {
            width: 100%;
            height: 100%;
            transition: all 200ms linear;
            display: flex;
            align-items: flex-end;
        }

        &.active > .embla__inner {
            width: 100%;
            transform: scale(1.15); /* optional zoom */
        }

        &.active {
            z-index: 10;
        }

        article {
            flex-grow: 1;
        }


    }

    .embla__navigation{

    }

    .embla__dots{
        @apply -bottom-[30px] left-0 w-auto;
    }
}
