@import "tailwindcss";


/** specific slider settings **/
.standard-slider {
    @apply mb-4 mt-4;

    .embla {

        .embla__slide {
            width: 300px !important; /* fixed width */
            max-width: 300px;
            flex-shrink: 0;
            flex-grow: 0; /* IMPORTANT: prevent growing */
            flex-basis: auto;
            display: flex;
        }

        .embla__inner {
            flex-grow: 1;
        }
    }

    .slider-header {
        @apply text-3xl mb-2 font-light;
    }

}

.embla {
    overflow: hidden;
}

.embla__container {
    display: flex;
}

.embla__wrapper {
    @apply flex;
}

.embla__slide {
    flex: 0 0 100%;
    min-width: 0;
    cursor: grab;
}


.embla {
    .gradient-left, .gradient-right {
        @apply absolute h-full w-[40px] pointer-events-none;
    }

    .gradient-left {
        @apply left-0 bottom-0 bg-gradient-to-r from-[rgba(0,0,0,0.3)]  to-transparent;
    }

    .gradient-right {
        @apply right-0 bottom-0  bg-gradient-to-l from-[rgba(0,0,0,0.3)]  to-transparent;
    }

}


/** next and prev buttons*/
.embla__next-prev {

    .embla__prev,
    .embla__next {
        @apply transition-all flex items-center absolute text-2xl text-white cursor-pointer outline-white outline-2 rounded-full text-center h-[35px] w-[35px] justify-center pointer-events-auto;

        &:hover {
            background-color: var(--color-highlight-secondary);
            outline-color: var(--color-highlight-secondary);
        }

        z-index: 5;
    }

    .embla__next {
        @apply top-1/2 right-4 -translate-y-1/2;
    }

    .embla__prev {
        @apply top-1/2 left-4 -translate-y-1/2;
    }
}

/** pagination dots**/
.embla__dots {
    @apply flex w-full relative justify-center pointer-events-auto pb-20 pt-2;

    .embla__dots_inner {
        @apply container flex flex-wrap gap-3 justify-center;

        .embla__dot {
            @apply w-[10px] h-[10px] p-[10px] border-2 rounded-full bg-gray-400 box-border opacity-90 outline-none pointer-events-auto;

            &:hover {
                background-color: var(--color-white);
            }

            &:focus {
                outline: none;
            }
        }

        .embla__dot.is-selected {
            @apply bg-white opacity-100;
            background-color: var(--color-highlight-secondary);
            outline-color: var(--color-white);
            outline-width: 2px;
            outline-style: solid;
            outline-offset: 4px;
        }

        .embla__dot:focus {
            @apply outline-none;
        }
    }
}

.embla__navigation-container {
    @apply container m-auto h-full absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 pointer-events-none;
}












