@import "tailwindcss";

.mini-search-form {
    @apply text-white;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0px;

    .background-overlay {
        cursor: pointer;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(38, 38, 38, 0.6);
    }

    /** main container**/

    /** md:min-w-md lg:min-w-lg**/

    .search-form {
        @apply px-4 w-full absolute top-1/4 left-1/2 -translate-x-1/2 md:max-w-lg lg:max-w-2xl;

        .inner {
            @apply relative flex flex-col p-4  bg-gray-800;
        }
    }

    h2 {
        @apply text-xl text-white mb-3;
    }

    .close-button {
        @apply absolute top-2 right-2 text-white rounded-full w-[30px] h-[30px] flex items-center justify-center cursor-pointer transition-all;

        &:focus,
        &:hover {
            @apply bg-gray-600;
        }
    }

    .input-section {
        @apply flex relative flex-grow min-w-0;
    }


    /**main form**/

    form {
        @apply w-full flex justify-stretch items-stretch relative;

        &:focus-within {

            input {

                border-color: var(--color-highlight-secondary);
            }

            button {
                border-color: var(--color-highlight-secondary);
            }
        }

    }

    /** search input box**/

    input{
        @apply bg-transparent font-light pr-8 border p-2 px-4 rounded rounded-tr-none rounded-br-none transition-all flex-grow text-white;

        &::placeholder {
            @apply text-white;
        }

        &:focus, &:hover, &:focus-visible {
            @apply border outline-none;

        }


    }



    /** search button with icon**/

    button.search {
        @apply flex text-sm justify-center bg-transparent items-center border border-solid border-1 border-white  text-white outline-none p-0 px-2 rounded rounded-tl-none rounded-bl-none border-l-0;


        &:focus, &:hover {
            background-color: var(--color-highlight-secondary);
        }
    }


    /** contains the loading / clear buttons */

    .icons {
        @apply absolute top-0 right-0 flex gap-2 text-white items-center pr-2 h-full;

        .loading-icon {
            @apply bg-transparent;
        }

        .clear-search-field-button {
            @apply flex items-center bg-transparent p-2;
        }
    }

    .view-all-results {
        @apply mt-2 mb-1;
    }

    /** search results section, shows matched items**/

    .search-results {
        @apply mt-2 flex flex-col max-h-[50vh] overflow-y-scroll;
    }

}
