@import "tailwindcss";

.movie-card {
    @apply flex relative drop-shadow-lg border-gray-300 border-1 overflow-hidden transition-all duration-200 ease-in-out;

    .image-section {
        @apply w-full object-cover bg-cover transform transition-transform duration-200 ease-in-out scale-100 group-hover:scale-110 group-[.touched]:scale-110 h-full;
    }


    .watch-later-badge,
    .favorite-badge{
        @apply transition-all flex absolute items-center gap-2 top-0 text-white z-10 px-4 md:px-3 py-3 md:py-2 text-xl md:text-lg opacity-100 translate-y-0; background-color: var(--color-highlight-primary);

        @apply
        group-hover:opacity-0
        group-[.touched]:opacity-0
        group-hover:-translate-y-15
        group-[.touched]:-translate-y-15;
    }

    /* watch later indicator */
    .watch-later-badge{
      @apply right-0;
    }

    /* hover and touched styles from parent */
    .favorite-badge {
       @apply left-0;
    }

    .main-section {
        @apply flex flex-col h-full w-full absolute bg-black/75 text-white opacity-0 transition-opacity group-hover:opacity-100 group-[.touched]:opacity-100;

        .main-section-inner {
            @apply flex flex-col flex-grow justify-between px-4 py-4 box-content leading-tight overflow-hidden;
        }

        .release-date{
            @apply mb-1 md:mb-2 italic;
        }

        .rating-information{
            @apply flex gap-2 mb-1 md:mb-2 justify-between;
        }

        .summary{
            @apply text-base;
        }

        .movie-information-section {
            @apply group-hover:translate-y-0 group-[.touched]:translate-y-0 -translate-y-10 transform transition duration-250 ease-in-out;
        }

        .title{
            @apply text-3xl mb-2 font-semibold transition-colors;
        }

        .bottom-section {
            @apply transform transition duration-300 ease-in-out translate-y-10 group-hover:translate-y-0 group-[.touched]:translate-y-0;
        }

        .bottom-accent {
            @apply h-[2px];
            color: var(--color-highlight-secondary);
            background-color: var(--color-highlight-secondary);
        }

    }

    &:hover{
        .title:hover{
            color: var(--color-highlight-secondary);
        }
    }

}

/**Alternate design**/
.movie-card-alternate{

    @apply flex flex-row gap-2 flex-nowrap  bg-white transition-all;

    .image-container{
        @apply flex-2/5 w-auto border-none pt-2;
    }
    .image-section{
        @apply object-cover rounded ;
    }

    .main-section{
        @apply flex-3/5 w-auto text-current p-2 ;
    }

    .movie-information-section{
        h3{
            @apply text-xl mb-1 md:text-2xl lg:text-3xl;
        }
    }

    .bottom-section{
        @apply flex flex-col justify-start items-start;

        .rating-information{
            @apply mb-1;
        }
        .summary-section{
            @apply mt-1 md:mt-2 lg:mt-4 mb-1;

            .summary{
                @apply leading-normal font-light text-sm;
            }
        }
    }

    &:focus,
    &:hover,
    &.touched{
        .movie-information-section{
            h3{
                color: var(--color-highlight-secondary);
            }
        }
    }
}



.movie-card:hover {
    transform: translateY(-5px) scale(1.02);
}
