@import "tailwindcss";

.page-header {
    @apply text-white shadow-md  h-auto md:h-[60px] z-1;
    background-color: rgba(var(--color-primary-rgb), 0.7);

    .inner {
        @apply p-4;
    }
}

.user-icon {
    @apply text-white transition-all relative cursor-pointer w-[30px] h-[30px] flex items-center justify-center rounded-full;
    background-color: var(--color-highlight-secondary);

    &:hover,
    &:focus {
        background-color: var(--color-highlight-ternary);
    }
}

.logo-text {
    @apply text-xl font-bold;
    background: linear-gradient(to left, #fff, var(--color-highlight-secondary));
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.search-icon {
    cursor: pointer;

    &:hover, &:focus {
        @apply transition-all;
        color: var(--color-highlight-secondary);
    }
}


.page-header .header-user-submenu {
    @apply absolute top-full pt-2 mt-0 right-0 max-w-md min-w-52 rounded overflow-hidden;

    aside {
        @apply rounded flex-grow;
        border: 0;
    }

    .nav-item {
        background-color: var(--color-secondary);
        border-bottom-color: var(--color-primary);

        &:hover,
        &:focus {
            background-color: var(--color-primary);
        }

        &.active {
            background-color: var(--color-primary);
        }
    }

}
