@import "tailwindcss";

.movies-list {
    @apply mt-4;

    .navigation {
        @apply flex justify-between;
    }

    .results-nav {
        @apply mt-2 mb-2 flex gap-2 text-sm;

        .prev, .next {
            @apply text-white p-0 w-[30px] h-[30px] align-middle justify-center;
            background-color: var(--color-highlight-ternary);

            &:disabled {
                @apply opacity-50;
            }

            &:hover,
            &:focus {
                background-color: var(--color-highlight-secondary);
            }
        }
    }

    .results-data {
        @apply flex gap-2;
    }

    .page-numbers {
        @apply flex gap-2 mt-2 mb-2;

        .page {
            @apply flex items-center justify-center p-2 bg-gray-800 rounded-sm text-white w-[30px] h-[30px] text-center;
            background-color: var(--color-highlight-ternary);

            &:hover,
            &:focus {
                background-color: var(--color-highlight-secondary);
            }

            &.active {
                background-color: var(--color-highlight-secondary);
            }


        }
    }
}
