@import "tailwindcss";

:root {
    --color-primary: #100c24;
    --color-secondary: #1e1e41;

    --color-primary-rgb: 16, 12, 36;
    --color-secondary-rgb: 50, 50, 102;

    --color-highlight-primary: #fd004c;
    --color-highlight-secondary: #e84b88;
    --color-highlight-ternary: #742644;

    --color-white: #fff;
    --color-off-white: #e5e4e4;

}

* {
    /**outline: 1px solid rgba(0, 255, 0, 0.2); /* light green outlines */
}

html, body {
    overflow-x: hidden; /* TEMP: prevent scroll while you debug */
}

.embla {
    overflow: hidden;
}

.embla__container {
    display: flex;
}

.embla__slide {
    flex: 0 0 100%;
    min-width: 0;
    cursor: grab;
}

.embla__navigation-container{
    @apply container m-auto h-full absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 pointer-events-none;
}

.embla__dots {
    @apply flex w-full absolute justify-center m-2 bottom-2 left-0 pointer-events-auto;
}

.embla__dots_inner {
    @apply container flex gap-3 justify-center
}

.embla__dot {
    @apply w-[7px] h-[7px] p-[7px] border-2 rounded-full bg-gray-400 box-border opacity-90 outline-none pointer-events-auto;

    &:hover {
        background-color: var(--color-white);
    }

    &:focus {
        outline: none;
    }
}

.embla__dot.is-selected {
    @apply bg-white opacity-100;
    background-color: var(--color-highlight-secondary);
    outline-color: var(--color-white);
    outline-width: 2px;
    outline-style: solid;
    outline-offset: 4px;
}

.embla__dot:focus {
    @apply outline-none;
}

.embla__next,
.embla__prev {
    @apply transition-all flex justify-center items-center absolute lg:text-2xl text-white cursor-pointer outline-white outline-2 rounded-full text-center h-[20px] w-[20px]  md:h-[40px] md:w-[40px] justify-center pointer-events-auto;

    &:hover {
        background-color: var(--color-highlight-secondary);
        outline-color: var(--color-highlight-secondary);
    }

    z-index: 5;
}

.embla__next {
    @apply bottom-1 right-2 md:right-2 md:top-1/2 -translate-y-1/2;
}

.embla__prev {
    @apply bottom-1 right-10  md:left-2 md:top-1/2 -translate-y-1/2;
}

#root {
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.loading {
    animation: loading 2s ease-in-out 0s infinite reverse;
    -webkit-animation: loading 2s ease-in-out 0s infinite reverse;
}

@keyframes loading {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}


/**message styling**/
.message,
.message-error,
.message-success,
.message-loading{
    @apply py-2 px-2 border text-white;
}

.message{
    @apply bg-gray-800;
}
.message-error{
    @apply bg-red-600;
}
.message-success{

    @apply bg-green-600;
}
.message-loading{

    @apply bg-yellow-400;
}

.inactive {
    @apply pointer-events-none opacity-50 transition-all;
}



/** Generic button styles*/
.button{
    @apply bg-white text-gray-800 rounded border border-gray-400 px-3 py-1 inline-block transition-all duration-200 ease-in-out;


    &:focus,
    &:hover{
        @apply text-white;
        background-color: var(--color-secondary);
    }

    &.active{
        @apply text-white;
        background-color: var(--color-primary);
    }
}
