@import "tailwindcss";

#page-footer {
    @apply bg-[var(--color-secondary)] text-gray-200 p-4 w-full ;

    .inner {
        @apply container grid grid-cols-1 md:grid-cols-3 gap-2 m-auto;
    }

    h3 {
        @apply text-xl border-b-1 pb-2 mb-2;
    }

    .footer-links {
        @apply flex flex-col;
    }

    .genres,
    .primary-nav,
    .recent-movies {
        @apply flex flex-col gap-2;

        a:hover,
        a:focus {
            color: var(--color-highlight-secondary);
        }

        a.active {
            color: var(--color-highlight-secondary);
        }
    }


    .footer-bottom {
        @apply container mx-auto text-center w-full mt-2;
    }


}
